*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #18423f;
}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    background: #293447;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.game-details {
    color: antiquewhite;
    font-weight: 800;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: #344b74;
}

.play-board .food {
    background: rgb(253, 8, 8);
}

.play-board .head {
    background: rgb(8, 253, 102);
}